# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
venv/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
instance/
media/
staticfiles/
*.sqlite3

# Environment files
.env
sendgrid.env

# VS Code
.vscode/

# Node (if used)
node_modules/

# macOS and Windows clutter
.DS_Store
Thumbs.db